<%= form_for(@message) do |f| %>
    <div class="field">
      <%= f.label :from %>
      <%= f.text_field :from %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <%= f.submit 'send' %>
    <%= f.button 'cancel' %>
<% end %>